/*
*
* @version beta
*
* @package Justin Estrada
*
*/
/* general */
.margin-0 {
    margin: 0;
}
.red-clr {
    color: #ff0000;
}
.green-clr {
    color: #3f903f;
}
@media (max-width: 767px){
    .padding-xs-only-0 {
        padding: 0;
    }
}
/* elements */
nav.navbar {
    border-bottom: 1px solid #f8f8f8;
}
.portfolio-container {
    margin-top: 76px;
}
/* colors */
.title-row h2 {
	color: #444;
}
.cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active {
	background-color: #444;
	border-color: #444;
}
.cbp-caption-activeWrap {
	background-color: #444;	
}